/* heading */
.witch-section-title{
  font-size:18px;
  font-weight:500 !important;
}

.witch-section-subtitle{
  font-size:16px;
  font-weight:500 !important;
}
/* input */

.witch-input{
  border-radius: 8px;
  border: transparent;
  background-color: #F1F1F2;
  padding: 8px 14px!important;
  &:focus{
    background-color: #F1F1F2;
  }
  &:disabled {
    background-color: #F1F1F2;
    color: #a8a8a8;
    cursor: not-allowed;
  }
  //&::placeholder{
  //    color: #a8a8a8;
  //}
}
.witch-input.witch-input-white{
  border:1px solid #ced4da;
  background: white;
  &:focus{
    background: white;
  }
  &:disabled {
    background-color: #F1F1F2;
    color: #a8a8a8;
    cursor: not-allowed;
  }
}
.witch-input.witch-input-w-short{
  width:200px;
}
.witch-input.witch-input-file{
  border: none;
  .custom-file-label::after{
    content: '파일 선택';
    font-size:14px;
    border:1px solid $primary;
    border-radius: 4px;
    color: $primary;
    background-color: white;
    right:4px;
    top:0;
    bottom: 0;
    margin: auto;
    font-weight: 500;
    height: 28px;
    line-height: 14px;
    cursor: pointer;
  }
}
.witch-input.witch-input-sm{
  font-size:14px;
  &.witch-input-w-short{
    width:100px;
  }
}
.witch-input-label{
  font-size:1rem;
}
.witch-input-append-before{
  position: relative;
  img{
    position: absolute;
    left: 8px;
    top:0;
    bottom:0;
    margin:auto;
    width:16px;
    height:16px;
  }
  .witch-input{
    padding-left: 32px !important;
  }
}
.witch-input-append-after{
  position: relative;
  img{
    position: absolute;
    right: 8px;
    top:0;
    bottom:0;
    margin:auto;
    width:16px;
    height:16px;
  }
  .witch-input{
    padding-right: 32px !important;
  }
}
.witch-input-modal{
  position: relative;
  .witch-input-modal-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0;
  }
}
.witch-select {
  background-color: #F1F1F2;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 2rem 0.5rem 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  position: relative;
  background-image:
          linear-gradient(60deg, transparent 50%, #94949C 60%),
          linear-gradient(120deg, #94949C 40%, transparent 50%) !important;
  background-position:
          calc(100% - 18px) center,
          calc(100% - 12px) center,
          100% 0;
  background-size:
          6px 12px,
          6px 12px;
  background-repeat: no-repeat;
  &.is-null{
    color: #a8a8a8;
  }
}
.witch-select-white{
  border:1px solid #ced4da;
  background-color: white;
}
.witch-input-checkbox, .witch-input-radio{
  .custom-control, .custom-checkbox{
    display:none;
  }
  input{
    display:none;
  }
  label{
    display: block;
    padding:0.5rem 1rem;
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 0;
    cursor: pointer;
  }
  &:last-child label{
    border-bottom: 0;
  }
  input:checked ~ label{
    background: #F1F1F2;
  }
}
.witch-textarea {
  background-color: #F1F1F2;
  border-radius: 8px;
  border: none;
  &:focus{
    background-color: #F1F1F2;
  }
}
.witch-textarea.witch-textarea-white{
  border:1px solid #ced4da;
  background: white;
  &:focus{
    background: white;
  }
}
/* pagination */
.witch-pagination{
  &.cancel-page-item-style{
    .page-item{
      margin: auto !important;
    }
  }
  .page-item {
    margin: 0 10px;
    &.active {
      .page-link {
        background-color: transparent;
        color: $light !important;
        &:hover{
          background-color: transparent;
        }
        &:after{
          background-color: $primary;
        }
      }
    }
    .page-link {
      position: relative;
      border: none;
      color: $dark;
      font-weight: 600!important;
      min-width: 36px;
      &:hover{
        background-color: transparent;
      }
      &:focus{
        box-shadow: none;
      }
      &:after{
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        top:0;
        left:0;
        right: 0;
        z-index: -1;
        margin:auto;
      }
    }
    .page-link[aria-label="Go to first page"],
    .page-link[aria-label="Go to previous page"],
    .page-link[aria-label="Go to next page"],
    .page-link[aria-label="Go to last page"],
    {
      padding: 0;
      &:after{
        display: none;
      }
    }
    .page-prev, .page-next{
      width: 36px;
      height: 36px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .page-btn {
    border: none;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(158, 45, 60, 0.15);
    color: $primary;
    font-weight: 600!important;
  }
}


/* witch-table */
.witch-table{
  table-layout: fixed;
  word-wrap: break-word;
  tr {
    &:hover {
      background-color: $light !important;
    }
    &:last-child {
      border-bottom: solid 2px #dee2e6;
    }
    &.active-row {
      background-color: #dee2e6 !important;
      &:hover {
        background-color: #dee2e6 !important;
      }
    }

    td {
      padding: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  th {
    div {
      font-weight: 500!important;
    }
  }
  td{
    vertical-align: middle !important;
  }
  thead {
    background-color: $light !important;
    th{
      vertical-align: middle;
    }
  }
  &.td-slim{
    th, td {
      padding: 0.5rem 0.25rem;
    }
  }
  .col-badge {
    .badge{
      width: 100%;
      text-transform: capitalize;
    }
  }
  &.confusion-matrix {
    tr:hover{
      background-color: transparent !important;
    }
    tbody {
      th {
        vertical-align: middle;
      }
      td {
        cursor: pointer;
        &:hover{
          background-color: #dee2e6;
          //background-color: #F5EAEB;
          //position: relative;
          //&:after{
          //    content: '';
          //    position: absolute;
          //    top:0;left:0;
          //    right: 0;bottom:0;
          //    width:100%;
          //    height: 100%;
          //    border: 1px solid $primary;
          //}
        }
      }
    }
  }
  &.use-select{
    tbody{
      tr {
        cursor: pointer;
        &.selected{
          background-color: #dee2e6;
          &:hover{
            background-color: #dee2e6 !important;
          }
        }
      }
    }
  }
}
.b-table{
  .text-truncate-1{
    word-break: break-all;
  }
  .text-break-all{
    word-break: break-all;
    white-space: initial;
  }
}
.b-calendar{
  .b-calendar-nav button {
    color: #cccccc;
  }
}
.modal{
  .modal-content{
    .modal-body{
      max-height: calc(80vh - 135px);
      overflow: auto;
      &.non-overflow{
        overflow: initial;
      }
    }
  }
}
.modal-size-fixed{
  //.modal-xl{
  //    width: 1140px !important;
  //    max-width: 1140px !important;
  //}
  //.modal-lg{
  //    width: 800px !important;
  //    max-width: 800px !important;
  //}
}

.table-inner-modal{
  cursor: pointer;
  color:#5533CC;
  &:hover{
    text-decoration: underline;
  }
}

//회원 추가 정보 테이블 영역
.profile-update-button{
  z-index: 1;
  position: absolute;
  left: 180px;
  bottom: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.user-detail-info{
  text-align: center;
}

.modal-wrap{
  text-align: center;
}

//작품 검색 모달(임시라 나중에 지울 예정)
.serial-modal-wrap li{
  list-style: none;
  margin-right: 20px;
}

/* switch */
.witch-switch{
  position: relative;
  margin: 0;
  cursor: pointer;
  input{
    display: none;
  }
  .switch-body{
    display: block;
    height:28px;
    border-radius: 14px;
    border: 1px solid #cccccc;
    padding: 0 36px 0;
    background: #fafafa;
  }
  .deco{
    content: '';
    display: inline-block;
    position: absolute;
    right: calc(100% - 24px);
    top:4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: right 0.2s;
    background: #b8b8b8;
    z-index: 1;
  }
  .option{
    font-size:11px;
    white-space: nowrap;
    position: absolute;
    left:0;
    right:0;
    text-align: center;
    top:50%;
    transform: translateY(-50%) translateX(10%);
    margin:auto;
    width: 100%;
    font-weight: 500;
    transition: all 0.4s;
    color:#555555;
  }
  // check
  input:checked ~ .switch-body{
    background: $primary;
  }
  input:checked ~ .deco {
    background: white;
    right:4px;
    border:1px solid #cccccc;
  }
  input:checked ~ .option{
    color:white;
    transform: translateY(-50%) translateX(-12%);
  }
}

.witch-box-shadow{
  border: none;
  border-radius: 8px;
  box-shadow: 2px 7px 20px -2px rgba(85, 51, 204, .15);
}
.witch-box-shadow-lite{
  box-shadow: 0px 2px 8px rgba(172, 29, 57, 0.15);
  border-radius: 8px;
}

.btn-primary{
  &.disabled, &:disabled{
    opacity: 0.25;
    cursor: not-allowed;
  }
}
.disabled, .btn.disabled, .btn:disabled{
  pointer-events: none;
  cursor: not-allowed !important;
  transition: 300ms;
  opacity: 0.25;
}


.list-group{
  .list-group-item.is-selected{
    background-color: #F5EAEB;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top:0;left:0;
      right: 0;bottom:0;
      width:100%;
      height: 100%;
      border: 1px solid $primary;
    }
  }
}
