// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
// 기본 테마 색상 바꾸기
$primary: #5533CC !default;
$secondary: #5F46F5 !default;
$success: #6ddafc !default;
$info: #009FFC !default;
$warning: #FF6347 !default;
$danger: #101013 !default;
$light: #EEE !default;
$dark: $black !default;

// 변수를 추가 할 수도 있다.
$custom-color: red !default;
$kakao: #FEE500 !default;
$facebook: #1877F2 !default;
$naver: #03C75A !default;
$payco: #FA2828 !default;
$google: #E2E2E2 !default;
$dark-light: #5A5A5A !default;
$gray: #F8F8F8 !default;
$dark-gray: #48484A !default;
$light-purple: #EAE3FF !default;
$steal: #F5F5F5 !default;
$tooltip-bg: #f7f3f9 !default;

// This table defines the theme colors (variant names)
// bg-primary 나 text-success 같이 클래스에서 쓰는 테마색상 이름을 추가 할 수 있다.
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "dark-light": $dark-light,
    "gray": $gray,
    "dark-gray": $dark-gray,
    "light-purple": $light-purple,
    "white": $white,
    "steal": $steal,
    "tooltip-bg": $tooltip-bg,
    "end":$red,


    // 소셜 미디어
    "kakao": $kakao,
    "facebook": $facebook,
    "naver": $naver,
    "payco": $payco,
    "google": $google
  ),
  $theme-colors
);

// layout
$layout-width: 1280px;
$layout-height: 768px;
$layout-header-height: 54px;
$layout-lnb-width: 210px;
$layout-lnb-close-width: 64px;
